<div class="col-xs-12">
    <h3 id="4"><i class="fa fa-file-archive-o"></i> {{ thing.name }}</h3>
    <p>{{ thing.description }}</p>
    <p>
        <span class="label label-info"><i class="fa fa-download"></i> Download</span>
        <a href class="label label-info"  data-placement="top-left" bs-popover="deletePopover" data-template="views/todo/popover/delete-thing-popover.html"><i class="fa fa-trash"></i> Delete</a>
        <span class="label label-info" title="File History" data-placement="top" bs-popover="deletePopover" data-template="views/todo/popover/file-history-popover.html"><i class="fa fa-history"></i> History</span>
        <span class="label label-info"><i class="fa fa-ellipsis-h"></i></span>
    </p>
</div>