<div ng-hide="uploadinprogress">
    <button class="btn btn-lg btn-primary" ng-file-select="onFileSelect($files)">Choose file</button>
</div>
<div ng-show="uploadinprogress" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="progressstyle">

    </div>
</div>
<editable-file-thing ng-hide="uploadinprogress" thing="thing"></editable-file-thing>
<div class="form-group">
    <button class="btn btn-default" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>