<div class="aside col-md-6" tabindex="-1" role="dialog">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<h4 class="aside-title">Edit thing</h4>
			</div>
			<div class="aside-body">
                <editable-link-thing thing="thing"></editable-link-thing>
			</div>
			<div class="aside-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
				<button type="button" class="btn btn-default" ng-click="call(thing); $hide()">Save</button>
			</div>
		</div>
	</div>
</div>