<div class="row jumbotron">
    <h1 id="1"><i class="fa fa-square-o"></i> Något som ska utföras</h1>
    <p>Något beskrivning om vad som ska göras och vad resultatet ska vara<p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <h5 id="2">
        <i class="fa fa-comment-o fa-2x pull-left "></i>
        <p>Try-hard readymade 3 wolf moon DIY food truck gentrify scenester. Bushwick sriracha biodiesel, semiotics Schlitz fixie kale chips squid stumptown umami Marfa Williamsburg flexitarian lomo. Polaroid McSweeney's crucifix, skateboard wolf actually Helvetica synth you probably haven't heard of them street art. Leggings aesthetic <b>Marfa</b> irony, Kickstarter narwhal twee blog.</p><p> Yr before they sold out Helvetica jean shorts authentic tofu Blue Bottle lomo. Tote bag Blue Bottle Brooklyn fanny pack Tonx twee. Umami wayfarers crucifix artisan, normcore VHS street art bespoke tofu flexitarian Tumblr art party asymmetrical.</p> <small>- Joakim Hasselgren | 2013-10-12</small>
    </h5>
    <p>
        <span class="label label-info"><i class="fa fa-pencil"></i> Edit</span>
        <span class="label label-info"><i class="fa fa-trash"></i> Delete</span>
        <span class="label label-info"><i class="fa fa-ellipsis-h"></i></span>
    </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <h5 id="3">
        <i class="fa fa-comment-o fa-2x pull-left "></i>
        <p>Måste kolla på detta</p> <small>- Joakim Hasselgren | 2013-10-12</small>
    </h5>
    <p>
        <span class="label label-info"><i class="fa fa-pencil"></i> Edit</span>
        <span class="label label-info"><i class="fa fa-trash"></i> Delete</span>
        <span class="label label-info"><i class="fa fa-ellipsis-h"></i></span>
    </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <h3 id="4"><i class="fa fa-file-archive-o"></i> NoteApp source code</h3>
    <p>Denna filen innehåller koden till denna sida</p>
    <p>
        <span class="label label-info"><i class="fa fa-download"></i> Download</span>
        <span class="label label-info"><i class="fa fa-trash"></i> Delete</span>
        <span class="label label-info" title="File History" data-placement="top" bs-popover data-template="views/todo/popover/file-history-popover.html"><i class="fa fa-history"></i> History</span>
        <span class="label label-info"><i class="fa fa-ellipsis-h"></i></span>
    </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <h3 id="5">Mötes antekningar <small>- 2014-10-11</small></h3>
    <p>Try-hard readymade 3 wolf moon DIY food truck gentrify scenester. Bushwick sriracha biodiesel, semiotics Schlitz fixie kale chips squid stumptown umami Marfa Williamsburg flexitarian lomo. Polaroid McSweeney's crucifix, skateboard wolf actually Helvetica synth you probably haven't heard of them street art. Leggings aesthetic Marfa irony, Kickstarter narwhal twee blog. Yr before they sold out Helvetica jean shorts authentic tofu Blue Bottle lomo. Tote bag Blue Bottle Brooklyn fanny pack Tonx twee. Umami wayfarers crucifix artisan, normcore VHS street art bespoke tofu flexitarian Tumblr art party asymmetrical.</p>
    <p>Yr sustainable 8-bit viral Banksy. Echo Park you probably haven't heard of them forage craft beer selvage, Etsy kogi lo-fi. Pop-up 90's mixtape PBR&B, salvia ethical American Apparel shabby chic blog narwhal raw denim fanny pack typewriter locavore Pinterest. Fingerstache Godard skateboard 3 wolf moon next level. Typewriter umami cray disrupt. Plaid aesthetic semiotics Tumblr raw denim sustainable Thundercats cardigan actually quinoa wolf yr. Pickled lomo iPhone tattooed small batch, Carles Austin kogi Shoreditch brunch cred freegan synth before they sold out typewriter.</p>
    <p>
        <span class="label label-info"><i class="fa fa-pencil"></i> Edit</span>
        <span class="label label-info"><i class="fa fa-trash"></i> Delete</span>
        <span class="label label-info"><i class="fa fa-ellipsis-h"></i></span>
    </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <h5 id="6">
        <i class="fa fa-comment-o fa-2x pull-left "></i>
        <p>Måste kolla på detta</p> <small>- Joakim Hasselgren | 2013-10-12</small>
    </h5>
    <p>
        <span class="label label-info"><i class="fa fa-pencil"></i> Edit</span>
        <span class="label label-info"><i class="fa fa-trash"></i> Delete</span>
        <span class="label label-info"><i class="fa fa-ellipsis-h"></i></span>
    </p>
        </div>
</div>