<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 id="1"><i class="fa fa-square-o"></i> {{currentTing.name}}</h1>
                <p ng-bind-html="currentTing.description"><p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{currentTing.status}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': progress}">
                        <span class="sr-only">{{currentTing.status}}% Complete</span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-lg" data-template="views/todo/aside/edit-todo-thing.tpl.html" data-backdrop="static" data-placement="left" data-animation="am-slide-left" bs-aside="aside()" data-container="body" >Edit</button>
                    <button class="btn btn-default btn-lg" ng-click="showCreateThing()">New thing</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-show="isCreateThingMode()">
        <div class="col-xs-12">
            <div bs-tabs>
                <div title="Text" bs-pane>
                    <div class="row">
                        <div class="col-xs-12">
                            <create-text-thing save-fn="create(thing)" cancel-fn="cancelCreateThing()"></create-text-thing>
                        </div>
                    </div>
                </div>
                <div title="File" bs-pane>
                    <div class="row">
                        <div class="col-xs-12">
                            <create-file-thing save-fn="create(thing)" cancel-fn="cancelCreateThing()" refresh-fn="reload()"></create-file-thing>
                        </div>
                    </div>
                </div>
                <div title="Link" bs-pane>
                    <div class="row">
                        <div class="col-xs-12">
                            <create-link-thing save-fn="create(thing)" cancel-fn="cancelCreateThing()"></create-link-thing>
                        </div>
                    </div>
                </div>
                <div title="ToDo" bs-pane>
                    <div class="row">
                        <div class="col-xs-12">
                            <create-todo-thing save-fn="create(thing)" cancel-fn="cancelCreateThing()"></create-todo-thing>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="child in currentTing.things | orderBy:child.id" class="row">
        <div ng-if="child.type=='TEXT'">
            <show-text-thing thing="child" remove-fn="deleteThing(id)" save-fn="save(thing)"></show-text-thing>
        </div>
        <div ng-if="child.type == 'COMMENT'">
            <comment-thing thing="child" remove-fn="deleteThing(id)" save-fn="save(thing)"></comment-thing>
        </div>
        <div ng-if="child.type == 'FILE'">
            <show-file-thing thing="child" remove-fn="deleteThing(id)" save-fn="save(thing)"></show-file-thing>
        </div>
        <div ng-if="child.type == 'LINK'">
            <show-link-thing thing="child" remove-fn="deleteThing(id)" save-fn="save(thing)"></show-link-thing>
        </div>
        <div ng-if="child.type == 'TODO'">
            <show-todo-thing thing="child" remove-fn="deleteThing(id)" save-fn="save(thing)"></show-todo-thing>
        </div>
    </div>
</div>